* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header .max-width-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
}

.intro-chunk p {
  max-width: 260px;
}

.title {
  margin: 0px;
  margin-bottom: 48px;
}

p {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 1.25rem;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 6px solid hsl(0deg, 0%, 40%);
  min-height: 100%;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
  margin-top: 96px;
  padding: 16px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
  margin: 0px;
  margin-top: -8px;
  margin-bottom: 16px;
  margin-left: -32px;
  padding: 16px 24px 16px 32px;
}

/* tablet */
@media (min-width: 768px) {
  .intro-chunk p {
    max-width: 330px;
  }
  .indented-heading {
    width: max-content;
  }
}

/* web */
@media (min-width: 1100px) {
  main .max-width-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  .intro-chunk p {
    max-width: 330px;
  }
  .indented-heading {
    width: max-content;
  }
}
